@font-face {
    font-family: "VRC";
    src: url("/VRC.ttf") format("truetype");
}

@media only screen {

    /* GLOBAL */

    body {
        margin: 0;
        background: black;
        color: #00bf00;
        font-family: VRC, monospace;
    }

    * {
        box-sizing: border-box;
    }

    h1, h2, h3 {
        color: #00bf00;
    }

    a {
        color: #00bf00;
    }

    #content iframe  {
        position: relative;
        width: 100%;
        height: 100%;

        border: #3f3f3e 2px solid;
    }

    #grid {
        display: grid;
        grid-template-columns: 1fr 10fr 1fr;
    }

    #column-2 {
        display: grid;
        grid-template-rows: 1fr 12fr 1fr;
    }

    #page {
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        position: fixed;
        cursor: url(/default.cur), default;
    }

    /* DCP */

    .dcp {
        height: 65vh;

        margin-left: 1rem;
        margin-right: 1rem;
        text-align: center;

        background-color: black;
        border: #414141 3px solid;
        border-right: black 3px solid;
        border-bottom: black 3px solid;
    }

    .light {
        margin-top: 0.5rem;
        height: 3rem;
        width: 3rem;
    }

    .light img {
        height: 100%;
        width: 100%;
    }

    .light p {
        font-family: 'Arial Narrow', Arial, sans-serif;
        font-size: 1rem;
        font-weight: bold;

        position: relative;
        bottom: 110%;

        color: black;
    }

    .light-container {
        margin-top: 3rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 90%;
        margin-left: 5%;
        justify-content: space-evenly;
    }

    .screw-top {
        margin-top: 2.5rem;
        height: 1.5rem;
        width: 1.5rem;
    }

    .screw-bot {
        margin-bottom: 2.5%;
        bottom: 2.5%;
        height: 1.5rem;
        width: 1.5rem;
    }


    #column-1, #column-3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: #222222;
    }

    #column-1 {
        border-right: black 4px solid;
    }

    #column-3 {
        border-left: black 4px solid;
    }

    #dcp-header {
        margin-top: 2.5rem;
    }

    #light-long-line {
        font-size: 0.8rem;
        bottom: 100%;
    }

    #light-two-lines {
        font-size: 0.8rem;
        bottom: 115%;
    }

    #map-container {
        margin-top: 0;
    }


    /* NAVIGATION */

    .unselected-dcb-btn {
        background: #121219;
        border: #414141 1px solid;
        border-right: black 1px solid;
        border-bottom: black 1px solid;
    }

    .selected-dcb-btn {
        background: #002700;
        border: black 1px solid;
        border-bottom: #414141 1px solid;
        border-right: #414141 1px solid;
    }

    #mavigation {
        cursor: default;
    }

    #navigation td {
        font-family: "Arial Narrow", Arial, sans-serif;
        font-size: 1.25rem;
        text-align: center;

        cursor: default;

        height: 6rem;
        width: 6rem;

    }

    #navigation a {
        color: white;
        text-decoration: none;
        cursor: inherit;

        display: table;
        position: relative;
        height: 100%;
        width: 100%;
    }

    #navigation span {
        display: table-cell;
        text-align:center;
        vertical-align: middle;
    }

}